@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	scroll-behavior: smooth;
}
h1,h2,h3{
	font-weight: 500;
	color: white;
}
h4,h5,h6,p{
	font-weight: 300;
	color: whitesmoke;
}
body{
	background: #1A1F25;	
	overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}
.circle{
	width: 350px;
	height: 350px;
	background: #B53C49;
	filter: blur(80px);
	border-radius: 50%;
	position: absolute;
	z-index: -1;
}
.circle:nth-child(1){
	left: -25%;
	top: 0%;
}
.circle:nth-child(2){
	top: 450%;
	right: -10%;
}
.circle:nth-child(3){
	top: 200%;
	left: -20%;
}
.circle:nth-child(4){
	top: 350%;
	right: 25%;
}
.full-container{
	min-height: 100vh;
}
nav{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 8vh;
	display: flex;
	padding: 3rem;
	align-items: center;
	justify-content: space-between;
}
.logo{
	color: ghostwhite;
	font-family: monospace;
}
.contact-link{
	padding: 0.5rem 1.5rem;
	color: white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 0px;
	border-top-left-radius: 20px;
	border: 0.5px solid white;
	transition: 0.8s;
}
.contact-link:hover{
	background: black;
	color: white;
}
.first-container{
	width: 100%;
	height: auto;
}
.first-content{
	width: 100%;
	height: 85vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 1rem 3rem;
}
.first-text{
	max-width: 70%;
	height: auto;
	margin: 1.2rem 0;
}
.first-text h1{
	font-size: 3.5rem;
	text-align: center;
	animation: 1s text linear forwards 1;
}
.first-text p{
	font-size: 1.2rem;
	letter-spacing: 1px;
	margin: 1.5rem 0 0.5rem 0;
	line-height: 25px;
	text-align: center;
	opacity: 0;
	animation: 1s text linear forwards 1;
	animation-delay: 1s;
}
@keyframes text {
	0%{
		transform: translateY(-30px);
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}
.first-buttons .get-started{
	padding: 0.5rem 1.5rem;
	color: black;
	background: white;
	border: none;
	border-radius: 10px;
	margin-right: 2rem;
	cursor: pointer;
	opacity: 0;
	animation: 1s text linear forwards 1;
	animation-delay: 2s;
}
.play-video{
	background: rgba(255,255,255,0.1);
	color: white;
	padding: 0.5rem 1.5rem;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	opacity: 0;
	animation: 1s text linear forwards 1;
	animation-delay: 2s;
}
.first-image{
	max-width: 100%;
	height: 45vh;
	overflow-x: auto;
	overflow-y: hidden;
	padding-left: 3rem;
	padding-bottom: 2rem;
}
.image-content{
	min-width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 0;
	transform: scale(0,0);
	transition: 0.8s;
}
.image-content img{
	min-width: 60%;
	margin: 1rem;
	object-position: center center;
	border-radius: 20px;
	object-fit: cover;
}
.service-container{
	width: 100%;
	height: auto;
}
.service-content{
	width: 100%;
	padding: 5rem 3rem 3rem 3rem;
	opacity: 0;
	transform: translateY(-20px);
	transition: 1s;
}
.service-content h1{
	font-size: 2.3rem;
	max-width: calc(100% - 50%);
}
.service-content p{
	max-width: calc(100% - 50%);
	margin-top: 1.2rem;
	line-height: 20px;
	font-size: 1.2rem;
}
.service-image{
	max-width: 100%;
	height: 65vh;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 2rem 0 3rem 2rem;
}
.serv-image-content{
	min-width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transform: scale(0,0);
	opacity: 0;
	transition: 0.8s;
	
}
.service{
	min-width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	background: white;
	margin-left: 1rem;
	padding: 2rem 3rem;
	border-radius: 20px;
	
}
.symbol{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	filter: blur(10px);
}
.symbol1{
	background: lightgreen;
}
.symbol2{
	background: lightcoral;
}
.symbol3{
	background: lightblue;
}
.service-text{
	text-align: center;
}
.service-text h1{
	font-size: 1.5rem;
	color: black;
}
.service-text p{
	color: black;
	margin-top: 1.3rem;
	line-height: 25px;
	font-size: 1.2rem;
}
.project-container{
	width: 100%;
	min-height: 100vh;
	padding: 1rem 3rem;
}
.project-content{
	width: 45%;
	height: auto;
	padding: 2.5rem 0;
	opacity: 0;
	transform: translateY(20px);
	transition: 0.8s;
}
.project-content h1{
	font-size: 2.3rem;
}
.project-content p{
	font-size: 1.2rem;
	line-height: 25px;
	margin-top: 1.2rem;
}
.project-image{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
}
.proj{
	width: 47.5%;
	height: 45vh;
	margin: 1.2rem 1.2rem 1.2rem 0;
	object-fit: cover;
	border-radius: 20px;
	opacity: 0;
	transition: 0.8s;
	transform: scale(0,0);
}
.customer-container{
	width: 90%;
	height: auto;
	margin: 4rem 3rem;
	background:rgba( 26, 31, 37, 0.05 );
	box-shadow:0 8px 32px 0 rgba( 0,0,0,0.3 );
	backdrop-filter:blur( 19.5px );
	-webkit-backdrop-filter:blur( 19.5px );
	border-radius:10px;
}
.customer-content{
	width: 100%;
	padding: 2rem 0;
	text-align: center;
	opacity: 0;
	transform: translateY(-20px);
}
.customer-content h1{
	font-size: 2rem;
	margin-bottom: 1.2rem;
}
.customer-content p{
	line-height: 20px;
}
.customers{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
}
.customer{
	width: 30%;
	min-height: 25vh;
	background: white;
	border-radius: 10px;
	padding: 2rem;
	opacity: 0;
	transform: translateY(20px);
	transition: 0.8s;
}
.customer p{
	margin-bottom: 1.5rem;
	line-height: 25px;
	color: black;
}
.customer h2{
	font-size: 1.2rem;
	color: black;
}
.customer h3{
	color: #B53C49;
	font-size: 0.8rem;
}
.contact-container{
	width: 90%;
	height: 55vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2rem 3rem;
	background: rgba( 26, 31, 37, 0.05 );
	box-shadow: 0 8px 32px 0 rgba( 0,0,0,0.3 );
	backdrop-filter: blur( 11.5px );
	-webkit-backdrop-filter: blur( 11.5px );
	border-radius: 10px;
}
.contact-content{
	padding: 2rem;
	width: 50%;
	transition: 0.8s;
	opacity: 0;
	transform: translateY(30px);
}
.contact-content h1{
	font-size: 3.5rem;
	margin-bottom: 1.2rem;
}
.contact-content input{
	width: 55%;
	background: white;
	outline: none;
	border: none;
	border-radius: 20px;
	padding: 0.8rem 1rem;
	margin-top: 1.5rem;
	color: black;
}
.contact-content button{
	margin-top: 1.5rem;
	margin-right: 1rem;
	padding: 0.7rem 2rem;
	background: #B53C49;
	border: none;
	color: white;
	border-radius: 20px;
	margin-left: 1rem;
	cursor: pointer;
}
.contact-container img{
	width: 50%;
	height: 100%;
	object-fit: cover;
}
footer{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 3rem;
	width: 100%;
	background: black;
}
footer a{
	color: ghostwhite;
	font-size: 1.5rem;
	font-family: monospace;
}
footer h2{
	font-size: 1.5rem;
}
@media screen and (max-width: 475px){
	body{
		overflow-x: hidden;
		max-width: 100%;
	}
	.circle{
		width: 300px;
		height: 300px;
		overflow: hidden;
	}
	.circle:nth-child(1){
		left: -25%;
	}
	.circle:nth-child(2){
		top: 500%;
		right: 10%;
	}
	nav{
		padding: 1.5rem;
	}
	.first-content{
		padding: 1.5rem;
	}
	.first-text{
		max-width: 100%;
	}
	.first-text h1{
		font-size: 2.2rem;
	}
	.first-text p{
		font-size: 0.8rem;
	}
	.get-started{
		padding: 1rem;
		font-weight: 500;
	}
	.play-video{
		padding: 0.6rem 1rem;
		font-weight: 500;
	}
	.first-image{
		height: 35vh;
	}
	.image-content img{
		height: 100%;
		border-radius: 10px;
	}
	.service-content{
		padding: 3rem 1.5rem;
	}
	.service-content h1{
		max-width: 100%;
		font-size: 2rem;
	}
	.service-content p{
		max-width: 100%;
		font-size: 1rem;
	}
	.service-image{
		height: 50vh;
	}
	.service{
		min-width: 80%;
		padding: 1.5rem;
	}
	.service-text p{
		font-size: 0.8rem;
		margin-top: 1rem;
	}
	.service-text h1{
		font-size: 1.5rem;
	}
	.symbol{
		width: 40px;
		height: 40px;
	}
	.project-container{
		padding: 1.5rem;
		overflow-x: hidden;
	}
	.project-content{
		width: 100%;
	}
	.project-content p{
		font-size: 1rem;
	}
	.project-image img{
		width: 100%;
		height: 33vh;
	}
	.customer-container{
		width: 100%;
		margin: 0;
		overflow-x: hidden;
	}
	.customer-content{
	  padding: 1.5rem;
	}
	.customer-content p{
	  font-size: 0.8rem;
	}
	.customers{
		flex-direction: column;
	}
	.customer{
		width: 100%;
		height: 25vh;
		margin: 1rem 0;
		padding: 1.5rem;
	}
	.customer p{
		font-size: 1rem;
	}
	.contact-container{
		margin: 0;
		width: 100%;
		flex-direction: column-reverse;
		min-height: 50vh;
	}
	.contact-content{
		padding: 1.2rem;
		width: 100%;
		height: 60%;
	}
	.contact-content h1{
		font-size: 1.9rem;
	}
	.contact-content p{
		font-size: 0.8rem;
	}
	.contact-content input{
		padding: 0.5rem 1rem;
	}
	.contact-content button{
		padding: 0.5rem 1rem;
	}
	.contact-container img{
		width: 100%;
		height: 40%;
	}
	footer{
		flex-direction: row;
		justify-content: space-between;
		padding: 1.5rem;
	}
	footer h2{
		text-align: center;
		font-size: 1.2rem;
	}
	footer h5{
		text-align: center;
	}
	footer a{
	  font-size: 1.2rem;
	}
}
.active{
	opacity: 1;
	transform: translateY(0);
	transform: scale(1,1);
	transition: 0.8s ;
}
